<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Agriculture Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('feature1.home') }}">Agriculture Chat</a>
            <a href="{{ url_for('feature2.home') }}">Crop Recommender</a>
            <a href="{{ url_for('feature3.index') }}">Disease Detector</a>
            <a href="{{ url_for('feature4.index') }}">Nursery Finder</a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>Urban Agriculture Toolkit © 2025 ARYAN BHISE BT22CSD008</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>